<!doctype html>
<html>

<head>
	<title>Home Page</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body {
			padding-top: 80px;
			word-wrap: break-word;
		}
	</style>
</head>

<body>
	<div class="container">

		<div class="page-header text-center">
			<h1>Chattr</h1>
			<br>
			<a href="/logout" class="btn btn-default btn-sm">Logout</a>
			<a href="/profile" class="btn btn-default btn-sm">Profile</a>
			<a href="/create" class="btn btn-default btn-sm">Make Room</a>

		</div>

		<div class="row">
			<div class="row">

			
					</div>
				</div>
				<!-- LOCAL INFORMATION -->
				<% for(var i=0; i < rooms.length; i++) { %>
					<div class="col-sm-3">
						<div class="well">

							<p>
								<strong>topic</strong>:
								<%=rooms[i].name%><br>
									<strong>description</strong>:
									<%=rooms[i].topic%><br>
										<strong>Members</strong>:
										<%=rooms[i].participants%><br>
											<a href="<%='/chat/' + rooms[i]._id.toHexString() %>" class="btn btn-default btn-sm" value="<%=rooms[i].name%>">Join</a>

							</p>

						</div>
					</div>
					<% } %>


</html>
