<!doctype html>
<html>
<head>
	<title><%= user.local.email || user.facebook.name  %></title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
		<a href="/home" class="btn btn-default btn-sm">Home</a>
		<a href="/create" class="btn btn-default btn-sm">Make Room</a>

	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>

				<% if (user.local.email) { %>
					<p>
						<strong>Name</strong>: <%= user.local.name %><br>
						<strong>email</strong>: <%= user.local.email %><br>

					</p>

					<a href="/unlink/local" class="btn btn-default">Unlink</a>
				<% } else { %>
					<a href="/connect/local" class="btn btn-default">Connect Local</a>
				<% } %>

			</div>
		</div>

		<!-- FACEBOOK INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

				<!-- check if the user has this token (is the user authenticated with this social account) -->
				<% if (user.facebook.token) { %>
					<p>
						<strong>name</strong>: <%= user.facebook.name %><br>
						<strong>email</strong>: <%= user.facebook.email %><br>

					</p>
					<a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
				<% } else { %>
					<a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
				<% } %>

			</div>
		</div>
	</div>
	<!-- FACEBOOK INFORMATION -->
	<div class="col-sm-6">
		<div class="well">
			<h1> Profile Picture</h1>

	    <form action="/photos/upload" enctype="multipart/form-data" method="post">

	      <input type="file" name="avatar">
	        <input type="submit" value="submit">
	    </form>



		</div>
	</div>

	<!-- FACEBOOK INFORMATION -->
	<div class="col-sm-6">
		<div class="well">
			<h3 class="text-primary"><span class="fa fa-facebook"></span> Profile Picture</h3>

			<!-- check if the user has this token (is the user authenticated with this social account) -->
			<% if (user.img) { %>
				<img src = '<%= user.img %>'>




			<% } %>

		</div>
	</div>
</div>



</div>
</body>
</html>
